user:
  name: "student"
  password: "Passw0rd!"
  uid: 1000
  gid: 1000

ssh:
  port: 2222

gpu:
  enabled: true
  count: 1

resources:
  requests:
    cpu: "2"
    memory: "1Gi"
  limits:
    cpu: "4"
    memory: "2Gi"


storage:
  enabled: true
  size: 10Gi

